.discardsjr {
    /*height: 150px;*/
    background-color: aquamarine;
    color: brown;
    background: olive;
}
/*html {
    background-color: aquamarine;
    color: brown;
    background: olive;
}
#discards3 {
    margin: 0px;
}
#discards1 {
    margin: 0px;
}*/
.discards {
  display: grid;
  width:fit-content;
  grid-template-columns: 22.5vh 37.5vh 22.5vh;
  grid-template-rows: 22.5vh 37.5vh 22.5vh;
  gap: 0.45vh;
  background-color: dodgerblue;
  padding: 0.75vh;
}
.discards .discardsjr {
  background-color: white;
  padding: 1.5vh;
  justify-items: center;
  align-items: center;  
}
.discards #discards2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.discards #discards3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.discards #discards1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  writing-mode: vertical-rl;
}
.discards #discards0 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.discardsjr img {
    width: 3.75vh;
    padding-left: 0.6vh;
    padding-right: 0.6vh;
    height: 5.55vh;
}
.setHolder {
    width: 18vh;
}
.setHolder img {
    width: 3.75vh;
    padding-left: 0px;
    padding-right: 0px;
    height: 5.55vh;
}
#calls0 {
    transform: rotate(180deg);
}
#calls1 {
    transform: rotate(90deg);
}
#calls3 {
    transform: rotate(-90deg);
}
body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /*gap:1vh;*/
    margin: 0px;
    padding:0px;
    min-height: 100vh;
}
#pfp {  
    border-radius:100%;
    aspect-ratio: 1 / 1;
    width:100%;
}
#pfpDiv {
    aspect-ratio: 1 / 1;
    padding:10%;
}
.headerdiv {
    aspect-ratio: 4 / 1;
    width:100%;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}
.headerdiv button {
    aspect-ratio: 4 / 1;
    width:100%;
    border: none;
    background-color:transparent;
    color:#B0AA7E;
    font-size: 4vh;
    font-family: lemon;
}
header {
    border: none;
    color:white ;
    cursor: pointer;
    height:100%;

    background: linear-gradient(
        180deg,
        darkolivegreen,
        #4A412A
    );

    background-size: 150% 150%;
    animation: gradient 8s ease infinite;
}
@keyframes maine {
    from {background:linear-gradient(to bottom,olive,#4A412A);}
    to {background:linear-gradient(to bottom,olive,#4A412A);}
}
main {
    padding: 12px 24px;
    border: none;
    color: white;
    cursor: pointer;
    height:100%;

    background: linear-gradient(
        180deg,
        olive,
        #4A412A
    );

    background-size: 150% 150%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {   
    0% { background-position: 50% 0%; }
    50% { background-position: 50% 75%; }
    100% { background-position: 50% 0%; }
}

.headerdiv button:hover ,#pfpDiv:hover {
    border: none;
    cursor: pointer;

    background: linear-gradient(
        270deg,
        #604944,
        #420D09
    );

    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
}
@font-face {
    font-family: lemon;
    src: url(./LEMONMILK-Regular.otf);
}
